<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <title>Cursos Ceet Vasco Coutinho</title>

    <style>
        h1{
            text-align:center;
        }
        p{
            text-align:justify;
        }

    </style>

    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/img/logo.png" width="30" height="30" class="d-inline-block align-top">
        <a class="navbar-brand" href="">Ceet Vasco Coutinho</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Index.cshtml">Home <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/conteudo1.cshtml">Curso Técnico em Estética</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galeria de Fotos</a>
                </li>

            </ul>
        </div>
    </nav>

        <div class="container">
            <h1>Técnico em Estética</h1>

            <p>
                <strong>Objetivo:</strong>

                O Centro Estadual de Educação Técnica Vasco Coutinho, ao oferecer o curso Técnico em Estética, além de
                atender a demanda de qualificação profissional do segmento, tem por objetivo qualificar o esteticista
                para atuar na área da beleza, por meio da correta aplicação das técnicas e do uso adequado dos cosméticos
                e equipamentos utilizados nos tratamentos e procedimentos estéticos faciais, corporais e capilares;
                respeitando os valores políticos, éticos e estéticos além das práticas sociais relacionadas com os
                princípios da cidadania responsável; através de uma abordagem multidisciplinar visando à qualidade de vida.
            </p>


            <p>
                <strong>Duração e carga horária:</strong>

                Diurno : 1 ano e meio + estágio<br />
                Noturno : 2 anos + estágio
            </p>

            <p>
                <strong>Coordenadores:</strong> </br>
                Matutino : Marciana Paula de Oliveira Sales Gabrieli
            </p>


            <p>
                <strong> Competências:</strong>
                Compreender a importância das estruturas corporais, compreender a importância da prevenção e
                combate a contaminações e infecções durante os procedimentos específicos na área de Estética,
                conhecendo a ação de microrganismos e riscos de contaminação.
            </p>

            </br>

            <h3>Mercado de Trabalho</h3>

            O profissional Técnico em Estética poderá atuar nas seguintes atividades:</br>
            <ul>
                <li> Selecionar e aplicar procedimentos e recursos estéticos, utilizando produtos cosméticos, técnicas e equipamentos específicos, de acordo com as características e necessidades do cliente;</li>
                <li> Tratar da promoção, proteção, manutenção e recuperação estética da pele e cabelo;</li>
                <li> Prestar serviços de estética capilar, facial e corporal, utilizando como ferramenta produtos cosméticos e equipamentos próprios;</li>
                <li>Dominar com fluência os diversos recursos terapêuticos nos procedimentos estéticos, identificando fundamentos de higiene e profilaxia;</li>
                <li>Cumprir a legislação sanitária em vigor;</li>
                <li>Realizar a sua atividade, adotando as técnicas de higiene e profilaxia dos instrumentos exigidas pela profissão;</li>
                <li> Utilizar técnicas de atendimento ao cliente, orientando–o sobre ações de proteção à saúde cutânea e capilar;</li>
            </ul>







            </p>
        </div>
</body>
</html>
